## 아래문제를 해결하여 제출 (report3_성명)
- 5명의 id,pwd(문자열),age(정수형),sex(범주형)를 저장할 수 있는 dataframe 생성
- Series의dict이용하여 생성
- indx : id
- column : pwd,age,sex


## 1에서 생성된 데이터프레임을 이용하여 선택 및 추출 처리
- (1)특정 id, 특정 pwd 추출
- (2)상위 3명만 추출 (loc, iloc 사용)
- (3)나이와 성별만 추출
- (4)나이가 20대만 추출
- (5)성별이 male(남)인 경우만 추출
- (6)나이가 30미만인 여성만 추출

# DataFrame 생성
- 5명의 id,pwd(문자열),age(정수형),sex(범주형)를 저장할 수 있는 dataframe 생성
- Series의dict이용하여 생성
- indx : id
- column : pwd,age,sex

---

In [140]:
import numpy as np
import pandas as pd
from IPython.display import display

In [141]:
index = ['zoom1012','woals123','korea123','lsdlsd','ksmena']
d = {'pwd' : pd.Series(["1234","k444","l293d","jjm","pass"],index=index,dtype="object"),
    'age' : pd.Series([25,15,30,29,32],index=index,dtype='int32'),
    'sex' : pd.Categorical(["male","female","male","female","male"])}

df = pd.DataFrame(d)
display(df)

print("type : ",df.dtypes)

            pwd  age     sex
zoom1012   1234   25    male
woals123   k444   15  female
korea123  l293d   30    male
lsdlsd      jjm   29  female
ksmena     pass   32    male

type :  pwd      object
age       int32
sex    category
dtype: object

# 1) 특정 id, 특정 pwd 추출

In [142]:
print("id[0] : ",df.index[0])
print("id[1] : ",df.index[1])
print("id[2] : ",df.index[2])
print("id[3] : ",df.index[3])
print("id[4] : ",df.index[4])

print("\npwd[0] = ",df['pwd']['zoom1012'])
print("\npwd[1] = ",df['pwd']['woals123'])
print("\npwd[2] = ",df['pwd'][2])
print("\npwd[3] = ",df['pwd'][3])
print("\npwd[4] = ",df['pwd'][4])

id[0] :  zoom1012
id[1] :  woals123
id[2] :  korea123
id[3] :  lsdlsd
id[4] :  ksmena

pwd[0] =  1234

pwd[1] =  k444

pwd[2] =  l293d

pwd[3] =  jjm

pwd[4] =  pass

# 2)상위 3명만 추출 (loc, iloc 사용)

In [143]:
print("df[0:3]\n",df.iloc[0:3])

display(df.iloc[0:3])

df[0:3]
             pwd  age     sex
zoom1012   1234   25    male
woals123   k444   15  female
korea123  l293d   30    male

            pwd  age     sex
zoom1012   1234   25    male
woals123   k444   15  female
korea123  l293d   30    male

# 3)나이와 성별만 추출

In [144]:
print("나이 추출 : \n",df['age'])

print("\n성별 추출 : \n",df['sex'])

나이 추출 :
 zoom1012    25
woals123    15
korea123    30
lsdlsd      29
ksmena      32
Name: age, dtype: int32

성별 추출 :
 zoom1012      male
woals123    female
korea123      male
lsdlsd      female
ksmena        male
Name: sex, dtype: category
Categories (2, object): [female, male]

# 4)나이가 20대만 추출

In [145]:
m = (df.age < 30) & (df.age >= 20)

print(df[m])

           pwd  age     sex
zoom1012  1234   25    male
lsdlsd     jjm   29  female

# 5)성별이 male(남)인 경우만 추출

In [146]:
print(df[df.sex == 'male'])

            pwd  age   sex
zoom1012   1234   25  male
korea123  l293d   30  male
ksmena     pass   32  male

# 6)나이가 30미만인 여성만 추출

In [147]:
m = (df.sex == 'female') & (df.age < 30)

print(df[m])

           pwd  age     sex
woals123  k444   15  female
lsdlsd     jjm   29  female